<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 绑定一个对应的 Dao/Mapper 接口 -->
<mapper namespace="com.kuang.dao.UserMapper">
    <!--  select 查询语句， id 对于方法名 , resultType 结果集  -->
    <select id="getUserList" resultType="User">
    select * from user
    </select>

    <!--  id 对应引用的 resultMap，type 映射的对象  -->
    <resultMap id="UserMap" type="User" >
        <!--  列针对数据库中的字段，property 对应实体类中的属性     -->
        <result column="username" property="name" />
    </resultMap>

    <select id="getUserById" resultMap="UserMap" parameterType="integer">
        select * from user where id = #{id}
    </select>

    <!--  对象中的属性可以直接取出来  -->
    <insert id="addUser" parameterType="com.kuang.pojo.User">
        insert into user (id, username) values (#{id}, #{username})
    </insert>

    <update id="updateUser" parameterType="com.kuang.pojo.User">
        update user set username = #{username}, sex = #{sex} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

</mapper>