<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 绑定一个对应的 Dao/Mapper 接口 -->
<mapper namespace="com.UserMapper">
    <!--  select 查询语句， id 对于方法名 , resultType 结果集  -->
    <select id="getUserList" resultType="User">
    select * from user
    </select>

    <select id="getUserById" resultType="com.User" parameterType="integer">
        select * from user where id = #{id}
    </select>

    <!--  对象中的属性可以直接取出来  -->
    <insert id="addUser" parameterType="com.User">
        insert into user (id, username) values (#{id}, #{username})
    </insert>

    <update id="updateUser" parameterType="com.User">
        update user set username = #{username}, sex = #{sex} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

</mapper>